@model ProductModel
@using (Html.BeginForm("BuyProduct", "Product", Model, FormMethod.Post))
{
       @* <hr />
        <div class="row">
            <div class="col-md-2">
                <h4 class="mb-3">Sipariş Detayı</h4>
                <div class="card">
                    <img class="card-img-top" src="~/images/@Model.ImageUrl" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">@Model.Name</h5>
                        <p class="card-text">@Model.Brand</p>
                        <p class="card-text">@Model.Color</p>
                        <p class="card-text">@Model.Usage</p>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">@Model.Price</p>
                        <p class="card-text">@Model.IsSold.ToString()</p>
                    </div>
                </div>
                <form method="POST">

                    <hr class="mb-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
            </div>*@
        @*<div class="col-md-4">
            <h4 class="mb-3">
            <span>Özet Bilgiler</span>
            </h4>
            <ul class="list-group mb-3">


            <li class="list-group-item d-flex justify-content-between">
            <div>
            <h6>@Model.Product.Name</h6>
            </div>
            <span class="text-muted">@Model.Product.Price.ToString("c")</span>
            </li>


            <li class="list-group-item d-flex justify-content-between">
            <span>Toplam (TL)</span>
            <strong>@Model.Product.Price.ToString("c")</strong>
            </li>
            </ul>

            </div>*@
        @*</div>*@
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Resim</th>
                <th>
                    Ürün
                </th>
                <th>
                    Açıklama
                </th>
                <th>
                    Marka
                </th>
                <th>
                    Renk
                </th>
                <th>
                    Kullanım Durumu
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Ürünü Satın Al ?
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="~/images/@Model.ImageUrl" style="width:250px; height:300px;" />
                </td>
                <td>
                    <p>@Model.Name</p>
                </td>
                <td>
                    <p>@Model.Description</p>
                </td>
                <td>
                    <p>@Model.Brand</p>
                </td>
                <td>
                    <p>@Model.Color</p>
                </td>
                <td>
                    <p>@Model.Usage</p>
                </td>
                <td>
                    <p>@Model.Price.ToString("c")</p>
                </td>
                <td>
                    <form method="POST">

                    <hr class="mb-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Satın Al</button>
                </form>
                </td>
            </tr>
        </tbody>
    </table>






}
