@using MiniCommerce.UI.Controllers
@model ProductModel


@{
    ViewData["Title"] = "Index";
}

<h1>Ürün Detayları</h1>
@*<div class="table-responsive">*@
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Resim</th>
            <th>
                Ürün
            </th>
            <th>
                Açıklama
            </th>
            <th>
                Marka
            </th>
            <th>
                Renk
            </th>
            <th>
                Kullanım Durumu
            </th>
            <th>
                Fiyat
            </th>
            <th>
                Ne yapmak istersin ?
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/images/@Model.ImageUrl" style="width:250px; height:300px;" />
            </td>
            <td>
                <p >@Model.Name</p>
            </td>
            <td>
                <p>@Model.Description</p>
            </td>
            <td>
                <p>@Model.Brand</p>
            </td>
            <td>
                <p>@Model.Color</p>
            </td>
            <td>
                <p>@Model.Usage</p>
            </td>
            <td>
                <p>@Model.Price.ToString("c")</p>
            </td>
            <td>
                @if (@Model.IsSold == false)
                {
                    @*<form method="get">*@
                    @*<button asp-controller="Product" asp-action="BuyProduct" asp-route-id="@Model.Id" type="submit" class="btn btn-primary">Satın Al</button>*@
                    <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#popUp">Satın Al</button>
                    @using (Html.BeginForm("BuyProduct", "Product", Model, FormMethod.Post))
                    {
                        <div id="popUp" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Almak istiyor musun ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Ürün:</label>
                                            <p><strong>@Model.Name</strong></p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Evet</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <a class="btn btn-primary" style="margin-bottom:10px" asp-action="Make" asp-controller="Offer" asp-route-id="@Model.Id">Teklif Ver</a>
                    @*<button asp-controller="Offer" asp-action="Make" asp-route-id="@Model.Id" type="submit" class="btn btn-primary">Teklif Ver</button>*@
                    @*<a asp-action="Index" class="btn btn-default">Cancel</a>*@
                    @*</form>*@
                }
                else
                {
                    <p class="alert-warning">Bu ürün satışta değil</p>
                }
            </td>
        </tr>
    </tbody>
</table>
@*</div>*@







