


<!--
@model ProductViewModel

@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var products = Model.Products;
}

@section Categories{
@await Component.InvokeAsync("Categories")
}


@if (products.Count == 0)
{
    @await Html.PartialAsync("_noproduct")
}
else
{
    <div class="row">
        @foreach (var product in products)
        {
            @*@if (product.IsApproved == true)
                {*@
            <div class="col-md-3">
                @*@await Html.PartialAsync("_product",product)*@
                <div class="card">
                    <img class="card-img-top" src="~/images/@product.ImageUrl" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text">@product.Id</p>
                        <form method="get">
                            <button asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" type="submit" class="btn btn-primary">İncele</button>
                            @*<a asp-action="Index" class="btn btn-default">Cancel</a>*@
                        </form>
                        @*<form class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">İncele</form>*@
                        <a href="" class="btn btn-primary">Satın Al</a>
                        <a href="" class="btn btn-primary">Teklif Ver</a>
                    </div>
                </div>
            </div>
            @*}*@
        }
    </div>
}

-->
